.imgme {
    display: block;
    margin: auto;
    width: 20%;
    height: auto;
    border-radius: 50%;
}

p1 {
    font-size: 2vw;
    font-weight: bolder;
}

.link {
    text-decoration: none;
    color: #5692ef;
}

.text {
    margin: auto;
    text-align: center;
    font-size: 1.5vw;
}

h1 {
    text-align: center;
    font-family: Courier New;
    font-weight: lighter;
    font-size: 2.5vw;
}

.button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Georgia;
    float:right;
    font-size: 1.5vw;
}

.button:hover {
    text-decoration: underline;
}

.icon {
    display: inline-block;
    width: 5.5vw;
    height:auto;
    padding: .5vw;
}


/* Container holding the header image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-size: 5vw;
  color: black;
}

.headerImage {
    opacity: .5;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

