.imgme {
    display: block;
    margin: auto;
    width: 20%;
    height: auto;
    border-radius: 50%;
}

p {
  margin-top: 1vw;
  font-size: 1.25vw;
  font-family: Open Sans;
  text-align: center;
}

p1 {
    font-size: 2vw;
    font-weight: bolder;
}

p2 {
  margin-bottom: 2vw;
}

.link {
    text-decoration: none;
    color: #5692ef;
}

.text {
    margin: auto;
    text-align: center;
    font-size: 1.5vw;
}

h1 {
    text-align: center;
    font-family: Open Sans;
    font-weight: lighter;
    font-size: 2.5vw;
}

.button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Open Sans;
    float: right;
    font-size: 1.25vw;
}


.button:hover {
    background-color: rgb(243, 193, 232);
    color: black;
}

.icon {
    display: inline-block;
    width: 5.5vw;
    height:auto;
    padding: .5vw;
}


/* Container holding the header image and the text */
.headerDisplay {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-size: 5vw;
  color: black;
  font-family: 'Glass Antiqua';
}

.headerImage {
    opacity: .4;
}

.container1 {
  background-color: rgb(255, 244, 245);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container2 {
  background-color: rgb(255, 244, 245);
  padding: 20px;
  display: flex;
}

.description {
  padding-left: 10px;
  padding-right: 10px;
}

.pic {
  border-radius: 15px;
}


#padRequestButton {
  font-size: 1vw;
  font-family: Open Sans;
}

#joinButton {
  font-size: 1vw;
  font-family: Open Sans;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.genAbout {
    margin-left: 3vw;
    margin-right: 5vw;
    margin-bottom: 3vw;
}


.genAboutLeft {
    margin-left: 5vw;
    margin-right: 3vw;
}

/*Resources Page List Formatting*/
.list {
width:45vw;
margin:auto;
}

.list ol{
counter-reset: li;
list-style: none;
*list-style: decimal;
font-size: 25px;
font-family: 'Glass Antiqua';
}

.list a{
position: relative;
display: block;
padding: .4em .4em .4em 2em;
*padding: .4em;
margin: .5em 0;
background: #FC756F;
color: #444;
transition: all .2s ease-in-out;
}

.list a:hover{
background: #d6d4d4;
transform: scale(1.1);
}

.list a:before{
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background:#FC756F;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid #fff;
text-align: center;
font-weight: bold;
color:#FFF;
}


/* Request Page Form */
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 25vw;
  margin-right: 25vw;
  font-family: Open Sans;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Footer Formatting */
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
}
